.About {
    align-items: center;
}

.about-nav {
    background: radial-gradient(farthest-corner at 40px 40px, rgb(234, 85, 234) 0%, rgb(70, 6, 108) 100%);
    box-shadow: 2px 2px 15px 3px rgb(50, 13, 60);
    border-radius: 30px;
    height: 40%;
    margin-left: 20px;
}

.about-flex {
    /* border: solid orange; */
    display: grid;
}

/* About Large Pill */
.inner-about-1 {
    grid-column-start: 3;
    border: 1px solid white;
    border-radius: 57px; 
    padding: 15px;
    margin: 16px;
    margin-right: 80px;
    text-transform: uppercase;
    box-shadow: 10px 5px 5px olive;
    font-family: 'Splash', cursive;
    font-size: small;
    background-color: #0a0a0a;
}


section > * {
    display: grid;
}
/*===========================================SECTIONS===============================================================*/
.about-sections {
    display: grid;
}

/* Get To Know Me ; Image */
.about-section-1 {
    /* background-image: url('../images/rainbow.jpg'); */
    /* background-color: transparent; */
    mix-blend-mode:exclusion;
    height: 50vw;
    width: 100%;
    margin: 40px;
    margin-bottom: 100px;
}

/* Text */
/* Me As a Developer */
.about-section-1-text-1 {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 80%;
    background: radial-gradient(farthest-corner at 40px 40px, rgb(215, 61, 218) 0%, rgb(238, 98, 51) 100%);
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    justify-self: center;
    font-size: x-large;
    margin-right: 100px;
}

/* Second Paragraph Salesforce*/
.about-section-1-text-2 {
    grid-column-start: 1;
    grid-row-start: 2;
    width: 80%;
    background: radial-gradient(farthest-corner at 40px 40px, rgb(156, 166, 234) 0%, #43e 100%);
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    justify-self: center;
    margin-top: 100px;
    font-size: x-large;
}

/* Personal info */
.about-section-1-text-3 {
    grid-column-start: 2;
    grid-row-start: 3;
    width: 80%;
    background: radial-gradient(farthest-corner at 40px 40px, rgb(248, 173, 229) 0%, #43e 100%);
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
    border-radius: 2%;
    margin: 20px;
    padding: 20px;
    margin-top: 100px;
    justify-self: center;
    font-size: x-large;
    margin-right: 100px;



}
/*==============================================================TOOLING=================================================================*/
/* Tooling */
.about-section-2 {
    border: solid .1rem lavender;
    border-radius: 8px;
    display: grid;
    margin-top: 100px;
    display:grid;
    padding: 50px;
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
}

.tooling-text {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    font-size: xx-large;
    margin-left: 250px;
}
.tooling-pic-1 {
    grid-column-start: 1;
    grid-row-start: 2;

}
.tooling-pic-2{
    grid-column-start: 2;
    grid-row-start: 2;

}
.tooling-pic-3 {
    grid-column-start: 3;
    grid-row-start: 2;

}

.tooling-pic-4 {
    grid-column-start: 4;
    grid-row-start: 2;

}
.tooling-pic-5 {
    grid-column-start: 1;
    grid-row-start: 3;

}
.tooling-pic-6 {
    grid-column-start: 2;
    grid-row-start: 3;

}
.tooling-pic-7 {
    grid-column-start: 3;
    grid-row-start: 3;

}
.tooling-pic-8 {
    grid-column-start: 4;
    grid-row-start: 3;

}
/*==============================================================BOTTOM QUOTE=================================================================*/
.about-section-3 {
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
}

.about-section-3-text-1 {
    grid-column-start: 2;
    grid-row-start: 4;
    font-size: x-large;
}
.about-section-3-text-2 {
    grid-column-start: 2;
    grid-row-start: 4;
    margin-top: 48px;
    margin-left: 750px;
    font-size: x-large;
}
/* Quote */
.about-section-3 {
    /* border: solid hotpink; */
    border: solid .1rem lavender;
    border-radius: 8px;
    margin: 40px;
}

.quote-pic {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 200px;
    margin-left: 380px;
}

/*================================PHOTOS========================================================*/

.about > * {
    display: grid;
    /* border: solid red; */
}

/* Laptop */
.about-pic-2 {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-bottom: 50px;
}
/* Tea Cup */
.about-pic-3 {
    grid-column-start: 1;
    grid-row-start: 2;
    margin-left: 15px;
}

/* Head Phones */
.about-pic-4 {
    grid-column-start: 3;
    grid-row-start: 2;
    margin-top: 50px;
}