* {
  cursor: none;
}

.App {
  display: grid;
  flex-direction: column-reverse;
  text-align: center;
  background: radial-gradient(farthest-corner at 40px 40px, #0a0a0a 50%,rgb(170, 56, 170) 100% );
  /* background: radial-gradient(farthest-corner at 40px 40px, rgb(107, 14, 109) 0%, #43e 100%); */
  color: white;
  text-transform: uppercase;
  font-size: large;
  font-family: 'Iceland', cursive;
  text-shadow: 1px 1px 7px pink;
  /* border: solid orange; */
}

.App > * {
  /* border: solid blue; */
}





.cursor {
  background-color:rgb(225, 211, 239);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: screen
}
