* {
  cursor: none;
}

.App {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  background-color: #0a0a0a;
  color: white;
  text-transform: uppercase;
  font-size: large;
  font-family: 'Iceland', cursive;
  text-shadow: 1px 1px 7px pink;
}

.header {
  height: 20vw;
  mix-blend-mode: difference;
  border-bottom: solid .1rem lavenderblush;
  box-shadow: 0px 5px 1px gray;
}

.cursor {
  background-color:rgb(225, 211, 239);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: screen
}
