
.home-flex {
    /* display: grid; */
    /* border: solid white; */
}

.home-flex > * {
    display: grid;
    /* border: solid salmon; */
}   

/* Home Large Pill Box */
.home-flex-2 {
    grid-column-start: 3;
    border: 1px solid white;
    border-radius: 57px; 
    padding: 15px;
    margin: 16px;
    margin-right: 80px;
    text-transform: uppercase;
    box-shadow: 10px 5px 5px rgb(36, 190, 190);
    font-family: 'Splash', cursive;
    font-size: small;
    background-color: #0a0a0a;
}

.home-flex  * div {
    /* border: solid purple; */
}

/* Tyrah D. Gullette Container */
.home-flex-3 {
    grid-column-start: 1;
    /* border: solid pink; */
    border-bottom: dotted .13rem lavenderblush;
    mix-blend-mode: difference;
    justify-self: end;

}

/* Hello Container */
.home-flex-3add {
    mix-blend-mode: difference;
    grid-column-start: 1;
    justify-self: start;
    margin-left: 8px;
}
/* Hello Text */
.home-text-1add {
    font-size: xx-large;
}

/* About Me One Liner Container */
.home-flex-4 {
    mix-blend-mode: difference;
    grid-column-start: 1;
    justify-self: center;
}
/* About Me Summary Container */
.home-flex-5 {
    mix-blend-mode: difference;
    grid-column-start: 1;
    justify-self: center;
}


/* Tyrah D. Gullette text */
.home-text-1 {
    margin-left: 8px;
    font-size: xx-large;
    width: 50%;
    float: right;
}

/* About Me One Liner Text*/
.home-text-2 {
    width: 60%;
    margin-left: 8px;
}

/* About Me Summary Text*/
.home-text-3 {
    width: 40%;
    margin-left: 16px;
}
/*=========================== PROJECTS SECTION===============================================================*/
/* Project 1 */
.section-1 {
    /* background: radial-gradient(farthest-corner at 40px 40px, #f35 0%, #43e 100%); */
    background: radial-gradient(farthest-corner at 40px 40px, rgb(107, 14, 109) 0%, #43e 100%);
}

/* title */
.home-text-4 {
    grid-column-start: 1 ;
    margin-left: 8px;
    justify-self: start;
}
/* Description */
.project-1-text-1 {
    margin-left: 8px;
    grid-column-start: 1 ;
    justify-self: start;
    width: 80%;
}
/* Image */
.project-1-text-2 {
    grid-column-start: 2 ;
    grid-row-start: 1;
    justify-self: start;
    width: 80%;
}
/* Link */
.project-1-text-3 {
    grid-column-start: 2;
    justify-self: start;
    width: 50%;

}
/* -----------------------------------------PROJECT TWO-----------------------------------------------------------*/
/* Project 2 */
.section-2 {
    background: radial-gradient(farthest-corner at 40px 40px, rgb(107, 14, 109) 0%, #43e 100%);  
}
/* title */
.home-text-5 {
    grid-column-start: 1 ;
    margin-left: 8px;
    justify-self: start;
}
/* Description */
.project-2-text-1 {
    margin-left: 8px;
    grid-column-start: 1 ;
    justify-self: start;
    width: 80%;
}
/* Image */
.project-2-text-2 {
    grid-column-start: 2 ;
    grid-row-start: 1;
    justify-self: start;
    width: 80%;
}
/* Link */
.project-2-text-3 {
    grid-column-start: 2;
    justify-self: start;
    width: 50%;

}


/* -----------------------------------------PROJECT THREE-----------------------------------------------------------*/
/* Project 3 */
.section-3 {
    background: radial-gradient(farthest-corner at 40px 40px, rgb(107, 14, 109) 0%, #43e 100%);
}

/* title */
.home-text-6 {
    grid-column-start: 1 ;
    margin-left: 8px;
    justify-self: start;
}
/* Description */
.project-3-text-1 {
    margin-left: 8px;
    grid-column-start: 1 ;
    justify-self: start;
    width: 80%;
}
/* Image */
.project-3-text-2 {
    grid-column-start: 2 ;
    grid-row-start: 1;
    justify-self: start;
    width: 80%;
}
/* Link */
.project-3-text-1 {
    grid-column-start: 2;
    justify-self: start;
    width: 50%;
}


section  > * {
    display: grid;
    height: 30vw;
    /* border: solid pink; */
} 

section { 
    /* border: solid red; */
} 