.homepage-title {
    float: right;
    border: 1px solid white;
    border-radius: 57px; 
    padding: 15px;
    margin: 16px;
    margin-right: 80px;
    text-transform: uppercase;
    box-shadow: 10px 5px 5px rgb(36, 190, 190);
    font-family: 'Splash', cursive;
    font-size: small;
    flex: 1
}

.home-flex {
    display: grid;
    /* border: solid white; */
    grid-template-rows: max-content;
}

.header {
    mix-blend-mode: difference; 
    border-bottom: solid .1rem lavenderblush;
    box-shadow: 0px 5px 1px gray; 
}
/* 
.home-flex > * {
    border: solid salmon;
}  */

section > * {
    border: solid yellow;
    place-self: center;
}

section { 
    display: grid;
    margin-top: 5px;
    border: solid red;
    width: 100%;
}