

.home-flex > * {
    display: grid;
}   

.home-nav {
    background: radial-gradient(farthest-corner at 40px 40px, rgb(234, 85, 234) 0%, rgb(70, 6, 108) 100%);
    box-shadow: 2px 2px 15px 3px rgb(50, 13, 60);
    border-radius: 30px;
    height: 40%;
    width: 24%;
    margin-left: 20px;
}
/* Home Large Pill Box */
.home-flex-2 {
    grid-column-start: 3;
    border: 1px solid white;
    border-radius: 57px; 
    padding: 15px;
    margin: 16px;
    margin-right: 80px;
    text-transform: uppercase;
    box-shadow: 10px 5px 5px rgb(36, 190, 190);
    font-family: 'Splash', cursive;
    font-size: small;
    background-color: #0a0a0a;
}
/* Planet Image*/
.home-flex-4add {
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: left;
    border-radius: 400px;
    box-shadow: 2px 2px 15px 3px rgb(50, 13, 60);
    margin-left: 50px;
}

/* Image Container */
.home-flex-2add {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: right;
}
/* All Image */
div > img {
    border-radius: 250px;
}


/* Tyrah D. Gullette Container */
.home-flex-3 {
    grid-column-start: 1;
    grid-row-start: 2;
    mix-blend-mode: difference;
    justify-self: right;

}

/* Hello Container */
.home-flex-3add {
    mix-blend-mode: difference;
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: start;
    margin-left: 8px;
}
/* Hello Text */
.home-text-1add {
    font-size: xx-large;
    margin-left: 45px;
}

/* About Me One Liner Container */
.home-flex-4 {
    mix-blend-mode: difference;
    grid-column-start: 1;
    grid-row-start: 3;
    margin-top: 55px;
    font-size: xx-large;
    justify-self: center;
    width: 80%;
}
/* About Me Summary Container */
.home-flex-5 {
    font-size: xx-large;
    mix-blend-mode: difference;
    grid-column-start: 1;
    justify-self: center;
    grid-row-start: 3;
    margin-top: 200px;
}



/* Tyrah D. Gullette text */
.home-text-1 {
    margin-left: 8px;
    font-size: xx-large;
    width: 50%;
    float: right;
}

/* About Me One Liner Text*/
.home-text-2 {
    width: 60%;
    margin-left: 8px;
}

/* About Me Summary Text*/
.home-text-3 {
    width: 40%;
    margin-left: 16px;
}

.sections {
    display: grid;
    padding: 50px;
}

/*=========================== PROJECTS SECTION===============================================================*/
/* Project 1 */
.section-1 {
    border: solid .1rem lavender;
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
    border-radius: 2%;
    margin: 20px;
    justify-self: center;
    width: 90%;
}

/* title */
.home-text-4 {
    grid-column-start: 1 ;
    grid-row-start: 1;
    margin-left: 50px;
    justify-self: start;
    font-size: x-large;

}
/* Description */
.project-1-text-1 {
    margin-left: 100px;
    grid-column-start: 1 ;
    justify-self: start;
    width: 40%;
    font-size: x-large;
}
/* Image */
.project-1-text-2 {
    grid-column-start: 2 ;
    grid-row-start: 2;
    border-radius: 50px;
    margin-right: 40px;
}
/* Image Description Text*/
.project-1-text-11 {
    grid-column-start: 2 ;
    grid-row-start: 3;
    margin-right: 100px;
    font-size: x-large;
}
/* Link Frontend */
.project-1-text-3 {
    grid-column-start: 2;
    grid-row-start: 4;
    justify-self: start;
    margin-right: 50px;
    font-size: x-large;
    margin-top: 50px;

}
/* Link Backend */
.project-1-text-10 {
    grid-column-start: 2;
    grid-row-start: 5;
    justify-self: start;
    margin-right: 50px;
    font-size: x-large;
}
/* Technologies list*/
.project-1-text-8 {
    grid-column-start: 1;
    grid-row-start: 4;
    justify-self: start;
    margin-left: 100px;
    font-size: x-large;
    margin-top: 40px;
    width: 40%;
}
/* -----------------------------------------PROJECT TWO-----------------------------------------------------------*/
/* Project 2 */
.section-2 {
    border: solid .1rem lavender;
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
    border-radius: 2%;
    margin: 20px;
    justify-self: center;
    width: 90%;
}
/* title */
.home-text-5 {
    grid-column-start: 1 ;
    margin-left: 50px;
    justify-self: start;
    font-size: x-large;
}
/* Description */
.project-2-text-1 {
    margin-left: 50px;
    grid-column-start: 1 ;
    justify-self: start;
    width: 50%;
    font-size: x-large;
}
/* Image */
.project-2-text-2 {
    grid-column-start: 2 ;
    grid-row-start: 2;
    margin-right: 200px;
}
/* Link */
.project-2-text-3 {
    grid-column-start: 2;
    grid-row-start: 3;
    font-size: x-large;
    margin-right: 200px;

}
/* Technologies*/
.project-2-text-5 {
    margin-left: 50px;
    grid-column-start: 1 ;
    grid-row-start: 3;
    font-size: x-large;
    justify-self: start;
}


/* -----------------------------------------PROJECT THREE-----------------------------------------------------------*/
/* Project 3 */
.section-3 {
    border: solid .1rem lavender;
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
    border-radius: 2%;
    margin: 20px;
    justify-self: center;
    width: 90%;
}

/* title */
.home-text-6 {
    grid-column-start: 1 ;
    margin-left: 50px;
    justify-self: start;
    font-size: x-large;
}

/* Image */
.project-3-text-2 {
    grid-column-start: 1 ;
    grid-row-start: 2;
    justify-self: start;
    margin-left: 50px;
    width: 70%;
    border-radius: 12px;
}
/* Image Caption */
.project-3-text-6 {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: start;
    width: 80%;
    font-size: x-large;
}

/* Description*/
.project-3-text-1 {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: end;
    margin-right: 100px;
    width: 80%;
    font-size: x-large;
}
/* Link orange-purple website */
.project-3-text-3 {
    grid-column-start: 1;
    grid-row-start: 4;
    justify-self: start;
    width: 50%;
    margin-top: 60px;
    font-size: x-large;
    margin-left: 50px;
}

/* Link Frontend */
.project-3-text-4 {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
    width: 50%;
    font-size: x-large;
}
/* Link Backend */
.project-3-text-5 {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
    width: 50%;
    margin-top: 150px;
    font-size: x-large;
}

/* Technologies */
.project-3-text-7 {
    grid-column-start: 2;
    grid-row-start: 4;
    justify-self: end;
    margin-right: 200px;
    width: 50%;
    font-size: x-large;
}

/* -----------------------------------------PROJECT FOUR-----------------------------------------------------------*/

.section-4 {
    border: solid .1rem lavender;
    box-shadow: 2px 2px 15px 3px rgb(190, 147, 200);
    border-radius: 2%;
    margin: 20px;
    justify-self: center;
    width: 90%;
}

/* title */
.home-text-7 {
    grid-column-start: 1 ;
    margin-left: 50px;
    justify-self: start;
    font-size: x-large;
}
/* Description */
.project-4-text-4 {
    grid-column-start: 2 ;
    grid-row-start: 2;
    margin-left: 400px;
    width: 50%;
    font-size: x-large;
    height: 30%;
}
/* Image */
.project-4-text-2 {
    grid-column-start: 1 ;
    grid-row-start: 2;
    margin-left: 150px;
}
/* Technologies */
.project-4-text-1 {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-right: 200px;
    width: 50%;
    margin-left: 400px;
    font-size: x-large;
}

/* Link */
.project-4-text-3 {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: start;
    margin-left: 180px;
    font-size: x-large;
}


section  > * {
    display: grid;
    height: 50vw;
} 