.notfound-title {
    float: right;
    border: 1px solid white;
    border-radius: 57px; 
    padding: 15px;
    margin: 16px;
    margin-right: 80px;
    text-transform: uppercase;
    font-family: sans-serif;
}